// Import helpers files
// -------------------------------------------------

// Susy configuration
@import "bower_components/susy/sass/susy";
$susy: (
	columns: 12,
	gutters: 4.0rem/6.0rem,
	container: 116rem,
);

// Variables
@import "helpers/font-stacks";
// @import "helpers/color-palettes";

// Mixins
@import "helpers/mixins";

// Typography Variables
// -------------------------------------------------

// Project base font family
// ==================================
$montserrat:         'Montserrat', sans-serif;
$karla:              'Karla', sans-serif;
// ==================================

// Basic Typography
$base-font-size:       1.8rem;
$base-line-height:     2.7rem;
$font-size:            $base-font-size !default;

// Body type
$body-font-family:     $karla !default;
$body-font-weight:     400 !default;
$body-font-style:      normal !default;

// Heading type
$heading-font-family:  $montserrat !default;
$heading-font-weight:  600 !default;
$heading-font-style:   normal !default;

// Color Variables
// -------------------------------------------------

// Project base color
// ==================================
$black:         #292929 !default;
$white:         #fff !default;
$green:         #54e5b0 !default;
$grey:          #efefef !default;
// ===================================

// Base colors
$body-bg-color:        $white !default;
$border-color:         $grey !default;
$selection-bg-color:   $green !default;
$selection-font-color: $white !default;

// Typography colors
$body-font-color:      $black !default;
$heading-font-color:   $black !default;

// Link colors
$link-color:           $green !default;
$link-hover-color:     $body-font-color !default;
$link-visited-color:   darken($link-color, 5%) !default;
