/**
 * Wrapper
 */
.wide-container {

	.featured-disabled & {
		padding-top: 11rem;
	}

}

/**
 * Post
 */
.entry {
	// padding-bottom: 10rem;
	margin-bottom: 10rem;
	// border-bottom: .1rem solid $black;
	position: relative;

	&:nth-last-of-type(1) {
		border-bottom: 0;
		padding-bottom: 0;
	}

	.single & {
		margin-bottom: 6rem;
	}
}

.entry-header {
	text-align: center;
	margin-bottom: 4rem;
}

.cat-link {

	a {
		font-size: 1.3rem;
		text-transform: uppercase;
	}

}

h2.entry-title {
	font-size: 3.3rem;
	margin-bottom: 2rem;
	line-height: 3.6rem;

	a {
		color: $black;

		&:visited {
			color: $black;
		}

		&:hover {
			color: $green;
		}
	}
}

.entry-meta {
	font-size: 1.3rem;
	font-family: $montserrat;

	a {
		color: $black;

		&:visited {
			color: $black;
		}

		&:hover {
			color: $green;
		}
	}

	.entry-date,
	.entry-comment {

		&::before {
			content: "\00b7";
			display: inline-block;
			padding: 0 .5rem;
		}

	}

	.entry-date {
		&::before {
			padding-right: .7rem;
		}
	}
}

.thumbnail-link {
	display: block;
	margin-bottom: $base-line-height;

	img {
		display: block;
	}

}

.entry-summary {
	margin-bottom: 4rem;
}

.entry-content {

	p:first-child:first-letter {
		color: $black;
		float: left;
		font-family: Georgia;
		font-size: 75px;
		line-height: 60px;
		padding-top: 7px;
		padding-right: 8px;
		padding-left: 3px;
	}


}

.more-link-wrapper {
	display: inline-block;

	a {
		display: inline-block;
	}
}

.tag-links {

	a {
		font-size: 1.3rem;
		text-transform: lowercase;
		color: $white;
		background-color: $black;
		padding: .8rem;
		display: inline-block;
		line-height: 1;
		font-family: $montserrat;

		&:hover {
			background-color: $green;
			color: $white;
		}
	}

}

.entry-footer {
	margin-top: 3rem;
	border-bottom: .1rem solid $black;
	padding-bottom: 4rem;
}

/**
 * Post formats
 */
.entry-format {
	margin-bottom: $base-line-height;
}

.home .format-image {
	padding-bottom: 0;
	border-bottom: 0;
}

.format-image-inner {
	position: relative;

	.fa {
		position: absolute;
		top: 3rem;
		right: 3rem;
		color: $white;
		z-index: 1;
	}

	.thumbnail-link {
		margin-bottom: 0;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba($black, .3);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}
	}

	.entry-header {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		width: 80%;
		margin: auto;

		.cat-link a,
		.entry-title a,
		.entry-meta a {
			color: $white;

			&:hover {
				color: $green;
			}
		}

		.entry-meta {
			color: $white;
		}
	}
}

.entry-gallery {
	margin-bottom: $base-line-height;
	position: relative;

	.owl-nav {
		margin-top: 0;
		position: absolute;
		bottom: 0;
		width: 100%;

		[class*=owl-] {
			margin: 0;
			background-color: $black;
			border-radius: 0;
			padding: .5rem 1.5rem;

			&:hover {
				background-color: $green;
			}
		}
	}

	.owl-prev {
		float: left;
	}

	.owl-next {
		float: right;
	}

	.fa-expand {
		position: absolute;
		top: 1.7rem;
		right: 2rem;
		z-index: 1;
		color: $white;
	}

}
