/**
 * Search bar
 */
.searchbar {
	position: absolute;
	top: 0;
	z-index: 9;
	width: 100%;
	display: none;

	.container {
		position: relative;
	}

	.searchbar-field {
		background-color: $black;
		width: 100%;
		border: 0;
		min-height: 7.5rem;
		color: $white;

		&:focus {
			background-color: $black;
		}
	}

	.search-close {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 4rem;
		border: 0;
		padding: 0;
		background-color: transparent;
		color: $white;
		font-size: 2rem;

		@include susy-media(1170px) {
			right: 0;
		}
	}
}

/**
 * Featured area
 */
.featured {
	margin-bottom: 10rem;
	margin-top: 7.5rem;

	.callout-subscribe & {
		margin-bottom: 0;
	}

	.callout-posts & {
		margin-bottom: 5rem;
	}
}

.featured-default {
	min-height: 45rem;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	.container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 45rem;

		@include susy-media(480px) {
			justify-content: flex-end;
		}
	}

}

.featured-default-text {
	background-color: $white;
	padding: 3rem 3rem;
	width: 30rem;
	height: 28rem;
	text-align: center;
	font-size: 16px;

	@include susy-media(600px) {
		padding: 3rem 3rem;
		width: 30rem;
		height: 28rem;
	}

	@include susy-media(800px) {
		width: 38.1rem;
		height: 32.4rem;
		padding: 4rem 4rem;
		font-size: 18px;
	}

	small {
		text-transform: uppercase;
	}

	h3 {
		font-size: 40px;
		text-transform: uppercase;
		margin-bottom: 2rem;

		@include susy-media(800px) {
			font-size: 48px;
			margin-bottom: 3rem;
		}
	}

	p {
		margin-bottom: 3.5rem;
	}

	.button {
		font-weight: 400;
	}
}

.featured-posts {

	.owl-nav {
		margin-top: 0;

		[class*=owl-] {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			margin: 0;
			background-color: rgba(44,47,48,.5);
			padding: 3rem 1rem;

			&:hover {
				background-color: $black;
			}
		}
	}

	.owl-prev {
		left: .5rem;
	}

	.owl-next {
		right: .5rem;
	}

}

/**
 * Subscribe
 */
.subscribe-box {
	background-color: $green;
	padding: 5rem 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 10rem;

	.container {
		width: 100%;

		@include susy-media(920px) {
			width: 80%;
		}

		@include susy-media(1120px) {
			width: 70%;
		}

		@include susy-media(1200px) {
			width: 60%;
		}
	}

	.subscribe-icon {
		float: left;
		margin-right: $base-line-height;
		width: 25%;

		.fa {
			color: $white;
			font-size: 15.5rem;
		}
	}

	.subscribe-form-wrapper {
		float: right;
		width: 70%;
	}

	.subscribe-title {
		margin-bottom: .7rem;
	}

	.subscribe-subtitle {
		font-size: 1.6rem;
		color: #555;
		font-family: $montserrat;
		margin-bottom: 2rem;
	}

	form {

		label {
			display: none;
		}

		p {
			display: inline-block;
			margin-bottom: 0;
			margin-right: 1.5rem;
		}

		input[type="text"],
		input[type="email"] {
			border: 0;
			height: auto;
			padding: .9rem .9rem;
			font-size: 1.6rem;

			&::-webkit-input-placeholder {
				font-size: 1.3rem;
				color: #b1b1b1;
			}

			&::-moz-placeholder {
				font-size: 1.3rem;
				color: #b1b1b1;
			}

			&:-ms-input-placeholder {
				font-size: 1.3rem;
				color: #b1b1b1;
			}

			&:-moz-placeholder {
				font-size: 1.3rem;
				color: #b1b1b1;
			}
		}

		input[type="submit"],
		button {
			border: 0;
			background-color: $black;
			color: $white;
			font-size: 1.5rem;
			font-weight: 400;

			&:hover {
				background-color: #000;
			}
		}

	}
}

/**
 * Posts in grid
 */
.posts-in-grid {
	@extend %clearfix;
	text-align: center;

	.posts-in-grid-title {
		text-align: left;
		font-size: 1.8rem;
		font-family: $montserrat;
		text-transform: uppercase;
		margin-bottom: 4rem;

		&::after {
			content: "";
			border-bottom: .1rem solid $black;
			width: 2.7rem;
			display: block;
			padding-top: .7rem;
		}
	}

	ul {
		@extend %reset-list;
	}

	.thumbnail-link {
		margin-bottom: 2rem;
	}

	.entry-title {
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-bottom: 0;
		margin-top: .5rem;
	}

}

/**
 * Callout Posts
 */
.callout.callout-posts {
	margin-bottom: 5rem;

	li {
		margin-bottom: 5rem;
		@include susy-media(600px) {
			@include span(6 of 12);

			&:nth-child(2n) {
				@include last;
			}
		}

		@include susy-media(768px) {
			@include span(3 of 12);
			margin-bottom: 0;

			&:nth-child(2n) {
				margin-right: gutter();
				float: left;
			}

			&:nth-child(4n) {
				@include last;
			}
		}

	}

}

/**
 * Post share
 */
.post-share {

	.home & {
		display: none;
		@include susy-media(480px) {
			display: inline-block;
		}
	}

	@include susy-media(480px) {
		display: inline-block;
		float: right;
	}

	ul {
		@extend %reset-list;
	}

	li {
		display: inline-block;

		&.facebook {
			.fa {
				font-size: 1.65rem;
			}
		}

		&.google-plus {
			.fa {
				font-size: 1.6rem;
			}
		}
	}

	a {
		color: #292929;
		border: .3rem solid #292929;
		display: inline-block;
		width: 3.2rem;
		height: 3.2rem;
		text-align: center;

		&:hover {
			background-color: $black;
			color: $white;
		}
	}
}

/**
 * Posts pagination
 */
.pagination {
	@extend %clearfix;
	border-top: .1rem solid $black;
	text-align: center;
	text-transform: uppercase;
	padding-top: 1.2rem;
	clear: both;
	font-family: $montserrat;
	margin-bottom: 2rem;

	@include susy-media(800px) {
		margin-bottom: 0;
	}

	.page-numbers {
		margin-right: 1.2rem;
		font-weight: 400;
		color: $black;

		&:hover,
		&.current {
			color: $green;
		}
	}

	.next {
		float: right;
		margin-right: 0;
	}

	.prev {
		float: left;
		margin-right: 0;
	}

	.next,
	.prev {
		color: $black;
		&:hover {
			color: $green;
		}
	}

}

/**
 * Sidebar & Widgets
 */
.widget {
	margin-bottom: 8rem;
	font-size: 1.6rem;
	line-height: 2.4rem;

	ul {
		@extend %reset-list;
	}

	li {
		padding: .3rem 0;
	}

	select {
		width: 100%;
		max-width: 100%;
		height: 3.6rem;
		padding: 1rem;
		border: .1rem solid $border-color;
		background-color: $white;
	}
}

.widget-title {
	text-transform: uppercase;
	font-size: 1.6rem;
	position: relative;
	margin-top: 0;
	margin-bottom: 2.5rem;

	&::after {
		content: "";
		border-bottom: .1rem solid $black;
		width: 2.7rem;
		display: block;
		padding-top: .7rem;
	}
}

.ad-widget {
	text-align: center;

	.widget-title {
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: .1rem;
		margin-bottom: 0;
		text-align: center;
		color: #ccc;

		&::after {
			padding-top: 0;
			border-bottom: none;
		}
	}

}

.widget_archive,
.widget_categories {
	@extend %clearfix;

	li {
		@extend %clearfix;
		text-align: right;
		float: left;
		width: 45%;
		margin-right: 5%;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	a {
		float: left;
	}
}

.widget_tag_cloud {

	a {
		line-height: 2.2rem;
		display: inline-block;
		margin-right: .5rem;
		margin-bottom: .5rem;
		padding: .2rem .8rem;
		letter-spacing: .1rem;
		text-transform: uppercase;
		color: $white;
		border-radius: .2rem;
		background-color: $green;
		font-weight: 600;

		&:visited {
			color: $white;
		}

		&:hover {
			background-color: $black;
			color: $white;
		}

	}

}

.posts-thumbnail-widget {

	ul {
		@extend %reset-list;
	}

	li {
		overflow: hidden;
		padding: 1.5rem 0;
		line-height: 2rem;
	}

	.post-title {
		display: block;
		font-family: $montserrat;
		color: $black;
		font-weight: 600;
		margin-bottom: 1rem;

		&:hover {
			color: $green;
		}
	}

	.thumbnail-link {
		float: left;
		max-width: 8rem;
		margin-right: $base-line-height / 2;
		margin-bottom: 0;
	}

	.entry-thumbnail {
		display: block;
	}

}

.widget_social_icons {

	a {
		display: inline-block;
		margin: 3px 0 6px;
		width: 47px;
		height: 47px;
		position: relative;
		text-align: center;
		background-color: $green;
		color: $white;
		line-height: 48px;
		opacity: 1;
		border-radius: 4px;
		font-size: 18px;

		@include susy-media( 1025px ) {
			margin: 4px 4px 6px 4px;
		}

		&:hover,
		&:visited {
			color: $white;
		}

		&.facebook {
			background-color: #3b5998;
		}

		&.twitter {
			background-color: #55acee;
		}

		&.gplus {
			background-color: #dc4e41;
		}

		&.instagram {
			background-color: #3f729b;
		}

		&.pinterest {
			background-color: #bd081c;
		}

		&.linkedin {
			background-color: #0077b5;
		}

		&.behance {
			background-color: #1769ff;
		}

		&.dribbble {
			background-color: #ea4c89;
		}

		&.github {
			background-color: #4078c0;
		}

		&.codepen {
			background-color: #333;
		}

		&.rss {
			background-color: #f26522;
		}

		&.tumblr {
			background-color: #35465c;
		}
	}

}

.widget_pages {

	.children {
		margin-left: 1.5em;
	}

}

.widget_nav_menu {

	.sub-menu {
		margin-left: 1.5em;
	}

}

.widget_mc4wp_form_widget {
	border: .5rem solid $black;
	text-align: center;
	outline: .5rem solid $black;
	outline-offset: .1rem;
	margin-left: .56rem;
	margin-right: .56rem;
	padding: 3rem;
	font-size: 1.8rem;

	.widget-title {
		font-size: 2.4rem;
		margin-bottom: 3rem;

		&::after {
			padding-top: 0;
			border-bottom: none;
		}
	}

	p {
		&:nth-last-of-type(2) {
			margin-bottom: 1rem;
		}

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}

	label {
		display: none;
	}

	input {
		width: 100%;
	}

	input[type="email"],
	input[type="text"] {
		&::-webkit-input-placeholder {
			text-align: center;
			color: #ccc;
			font-weight: 400;
			font-family: $karla;
		}

		&::-moz-placeholder {
			text-align: center;
			color: #ccc;
			font-weight: 400;
			font-family: $karla;
		}

		&:-ms-input-placeholder {
			text-align: center;
			color: #ccc;
			font-weight: 400;
			font-family: $karla;
		}

		&:-moz-placeholder {
			text-align: center;
			color: #ccc;
			font-weight: 400;
			font-family: $karla;
		}
	}

	input[type="submit"] {
		background-color: $black;
		color: $white;
		padding: 1.3rem 3rem;

		&:hover {
			background-color: transparent;
			color: $black;
		}
	}
}

/**
 * Social Links
 */
.social-links {
	text-align: center;
	background-color: $green;
	padding: 2.2rem 0;

	ul {
		@extend %reset-list;
	}

	li {
		display: inline-block;
		padding: 0;
		margin-right: 2rem;
		margin-bottom: 2rem;

		@include susy-media( 600px ) {
			margin-right: 6rem;
		}

		@include susy-media( 801px ) {
			margin-bottom: 0;
		}

		@include susy-media( 1170px ) {
			margin-right: 8rem;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		display: inline-block;
		color: $black;
		font-weight: 400;
		font-size: 1.6rem;

		&::before {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-size: 17px;
			content: "\f2b4";
			margin-right: 1rem;
		}

		&:visited {
			color: $black;
		}

		&:hover {
			color: $white;
		}

		&[href*="twitter.com"]::before {
			content: "\f099";
		}

		&[href*="facebook.com"]::before {
			content: "\f230";
		}

		&[href*="instagram.com"]::before {
			content: "\f16d";
		}

		&[href*="plus.google.com"]::before {
			content: "\f0d5";
		}

		&[href*="pinterest.com"]::before {
			content: "\f0d2";
		}

		&[href*="linkedin.com"]::before {
			content: "\f08c";
		}

		&[href*="dribbble.com"]::before {
			content: "\f17d";
		}

		&[href*="codepen.io"]::before {
			content: "\f1cb";
		}

		&[href*="flickr.com"]::before {
			content: "\f16e";
		}

		&[href*="github.com"]::before {
			content: "\f09b";
		}

		&[href*="medium.com"]::before {
			content: "\f23a";
		}

		&[href*="reddit.com"]::before {
			content: "\f1a1";
		}

		&[href*="wordpress.com"]::before,
		&[href*="wordpress.org"]::before {
			content: "\f19a";
		}

		&[href*="vimeo.com"]::before {
			content: "\f27d";
		}

		&[href*="youtube.com"]::before {
			content: "\f166";
		}

		&[href*="snapchat.com"]::before {
			content: "\f2ac";
		}

		&[href*="/feed"]::before,
		&[href*="feedburner.com"]::before {
			content: "\f09e";
		}

		&[href*="mailto"]::before {
			content: "\f003";
		}
	}

}

/**
 * Page Header: archive
 */
.page-header {
	background-color: $green;
	text-align: center;
	margin-bottom: 8rem;
	padding: 12.5rem 0;
	margin-top: 7.5rem;

	.home & {
		margin-top: 0;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba($black, .3);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}
	}

	.featured-posts & {
		padding-top: 0;
		margin-bottom: 0;
	}

	.single &,
	.home & {
		min-height: 40rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@include susy-media(480px) {
			min-height: 45rem;
		}
	}

	.has-featured-image & {
		position: relative;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba($black, .3);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}

		.page-title,
		.cat-link,
		.entry-meta {
			position: relative;
			z-index: 1;
		}
	}

	.page-title {
		margin: 0;
		font-size: 2rem;
		line-height: 2.8rem;
		color: $white;
		display: inline-block;

		@include susy-media(480px) {
			font-size: 3rem;
			line-height: 4rem;
		}

		@include susy-media(600px) {
			font-size: 3.8rem;
			line-height: 4.8rem;
		}

		@include susy-media(700px) {
			font-size: 4.2rem;
		}

		span {
			background-color: $black;
			color: $white;
			padding: .1rem .5rem;
			text-transform: capitalize;
		}

		.page & {
			text-transform: uppercase;
			letter-spacing: .1rem;
		}

		.single &,
		.home & {
			margin: 0 auto 2.5rem;

			@include susy-media(920px) {
				width: 65%;
			}
		}

		.home & {
			position: relative;
			z-index: 1;

			a {
				color: $white;
				&:hover {
					color: $green;
				}
			}
		}

	}

	.cat-link {
		display: block;
		margin-bottom: 1.5rem;

		a {
			color: $white;
			&:hover {
				color: $green;
			}
		}

		.home & {
			position: relative;
			z-index: 1;
		}
	}

	.entry-meta {
		color: $white;
		a {
			color: $white;
			&:hover {
				color: $green;
			}
		}

		.home & {
			position: relative;
			z-index: 1;
		}
	}

}

.page-description {
	width: 60%;
	margin: 2rem auto 0;
	font-size: 1.6rem;
	line-height: 2.4rem;

	p {
		margin-bottom: 0;
	}
}

/**
 * Author box
 */
.author-bio {
	margin-bottom: 5rem;
	border-bottom: .1rem solid $black;
	padding-bottom: 5rem;
	text-align: center;

	.avatar {
		border-radius: 50%;
	}

	.name {
		font-size: 1.6rem;
		margin-top: .5rem;
		text-transform: uppercase;
		font-family: $montserrat;
		font-weight: 600;

		@include susy-media(480px) {
			font-size: 1.8rem;
		}

		a {
			color: $black;

			&:hover {
				color: $green;
			}

		}

	}

	.author-social-links {
		text-align: center;

		a {
			display: inline-block;
			color: #bbb;
			margin-right: 1.4rem;
			// font-size: 1.6rem;

			&:hover {
				color: $black;
			}
		}

	}
}

/**
 * Related articles
 */
.related-posts {
	@extend %clearfix;
	margin-bottom: 2.5rem;

	li {
		margin-bottom: 5rem;
		position: relative;

		@include susy-media(700px) {
			@include span( 4 of 8 );

			&:nth-child(2n) {
				@include last;
			}

		}

		&:nth-child( 2n+1 ) {
			clear: right;
		}

	}

}

/**
 * Popup
 */
.mfp-container {

	.mfp-content {

		.mfp-figure {

			button {
				&:hover {
					background-color: transparent;
				}
			}

		}

	}

}

/**
 * Contact form 7
 */
.wpcf7-form {

	textarea {
		width: 100%;
	}

}
