/**
 * The archive and search page
 */
.archive,
.search,
.layout-2c-l-l,
.layout-2c-r-l,
.layout-1c-l,
.layout-1c-n-l {

	.site-content {

		article:not(:first-child()) {
			@extend %clearfix;
			border-bottom: 0;
			padding-bottom: 0;
			margin-bottom: 6.5rem;

			.thumbnail-link {
				@include span(3 of 8);
			}

			.entry-header {
				text-align: left;
				line-height: 1rem;
				margin-bottom: 2rem;
			}

			h2.entry-title {
				font-size: 2.4rem;
				line-height: 3rem;
				margin-bottom: 0;
			}

			.entry-summary {
				font-size: 1.6rem;
				line-height: 2.4rem;
				margin-bottom: 0;

				p {
					margin-bottom: 1rem;
				}
			}

			.more-link {
				font-family: $montserrat;
				font-size: 1.2rem;
				text-transform: uppercase;
				font-weight: 600;
				color: $black;
			}

		}

	}

	.entry-right {
		@include span(5 of 8 last);
	}

}
