/**
 * Set link colors.
 */
a {
	transition: all 200ms ease-in-out 0s;
	text-decoration: none;
	color: $link-color;
	&:visited {
		color: $link-visited-color;
	}
	&:hover,
	&:visited:hover {
		text-decoration: none;
		color: $link-hover-color;
	}
}

/**
 * Headings.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	font-style: $heading-font-style;
	margin: $base-line-height/2 0;
	color: $heading-font-color;
}

h1,
.h1 {
	font-size: 3.6rem;
	line-height: 3.96rem;
}

h2,
.h2 {
	font-size: 3rem;
	line-height: 3.3em;
}

h3,
.h3 {
	font-size: 2.4rem;
	line-height: 3.12rem;
}

h4,
.h4 {
	font-size: 2rem;
	line-height: 2.6rem;
}

h5,
.h5 {
	font-size: 1.6rem;
}

h6,
.h6 {
	font-size: 1.4rem;
}

/**
 * Text elements.
 */
p {
	margin: 0 0 $base-line-height;
}

abbr[title],
dfn[title] {
	cursor: help;
}

del {
	vertical-align: baseline;
	text-decoration: line-through;
	color: #aaa;
}

code,
kbd,
pre,
samp {
	font-size: 1.6rem;
}

pre {
	margin: $base-line-height 0;
	padding: $base-line-height;
	color: #2080ad;
	background-color: #fafafa;
}

code {
	color: #2080ad;
}

blockquote {
	font-style: italic;
	margin: $base-line-height 4rem;
	padding-left: 2rem;
	color: #777;
	border-left: 0.3rem solid $green;

	cite {
		position: relative;
		display: block;
		padding: 1rem 0 0 2rem;
		color: #555;
		&:before {
			position: absolute;
			left: 0;
			content: "\2014";
		}
	}
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}

address {
	display: block;
	margin: 0 0 $base-line-height;
}

ul,
ol {
	margin: $base-font-size 0;
	padding: 0 0 0 $base-line-height;
}

ul {
	list-style: disc;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

li ul,
li ol {
	margin: 0;
}

dl {
	margin: $base-line-height;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: $base-line-height;
}

hr {
	clear: both;
	height: 0.1rem;
	min-height: 0;
	margin: $base-line-height 0;
	border-top: 0.1rem solid $border-color;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;

	&.dotted {
		border-style: dotted;
	}
	&.dashed {
		border-style: dashed;
	}
	&.blackborder {
		border-color: #000;
	}
	&.whiteborder {
		border-color: #fff;
	}
}

/**
 * Print styles.
 */
@media print {
	* {
		color: #000 !important;
		background: transparent !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;

		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: .5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
